//
// Fonts
//

@font-face {
  font-family: 'Proteron';
  src: url('/assets/fonts/proteron.ttf');
}

//
// Global changes
//

html, body, canvas {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 100%;
}

* {
  font-family: Roboto, sans-serif;
}