$button-color: darken(#855e83, 15%);

.button-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: calc(6 * 100px + 5 * 8px);
  height: 50px;
  left: calc(50% - (6 * 100px + 5 * 8px) / 2);
  bottom: 8px;
  user-select: none;
}

.button {
  width: 100px;
  height: 50px;
}

.button {
  background-color: $button-color;
  border: 1px solid darken($button-color, 100%);
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: lighten($button-color, 10%);
  }

  &:focus {
    outline: none;
  }
}

.clicked {
  background-color: lighten($button-color, 15%);
}

.text {
  display: block;
}

.key {
  display: block;
  color: #fff5;
}

.score-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: calc(50% - 100px);
  width: 200px;
  bottom: 60px;
  font-weight: bold;
  font-size: 30px;
  animation: exampleAnimation 1s ease-in-out;
}

.score-perfect {
  color: #8fff8f;
}

.score-good {
  color: #ffff8f;
}

.score-ok {
  color: #ffffd3;
}

.score-mistake {
  color: #ff8f8f;
}

@keyframes exampleAnimation {
  0% {
    bottom: 60px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    bottom: 100px;
    opacity: 0;
  }
}
