@import 'src/styles/variables.scss';

.button-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: calc(6 * 100px + 5 * 8px);
  height: 50px;
  left: calc(50% - (6 * 100px + 5 * 8px) / 2);
  bottom: 0;
  padding: 8px;
  user-select: none;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: $overlay-background-color;
  border-bottom: 1px solid $overlay-border-color;
  box-shadow: $overlay-box-shadow;
}

.button {
  width: 100px;
  height: 50px;
}

.button {
  background-color: $button-background-color;
  border: 1px solid $button-border-color;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  user-select: none;

  &:hover {
    background-color: lighten($button-background-color, 10%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #0000;
    cursor: default;
    box-shadow: none;

    & .text {
      color: darken($button-font-color, 30%);
    }

    & .key {
      color: darken($button-font-color, 30%);
    }
  }
}

.clicked {
  background-color: lighten($button-background-color, 15%);
}

.text {
  display: block;
  color: $button-font-color;
  transition: all 0.5s;
}

.key {
  display: block;
  color: darken($button-font-color, 20%);
  transition: all 0.5s;
}

.score-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: calc(50% - 100px);
  width: 200px;
  bottom: 60px;
  font-weight: bold;
  font-size: 30px;
  opacity: 0;
  animation: exampleAnimation 1s ease-in-out;
}

.score-perfect {
  color: $score-perfect;
}

.score-good {
  color: $score-good;
}

.score-ok {
  color: $score-ok;
}

.score-mistake {
  color: $score-mistake;
}

@keyframes exampleAnimation {
  0% {
    bottom: 60px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    bottom: 100px;
    opacity: 0;
  }
}
