<div class="button-bar">
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.NO_PACK)"
            (click)="onClick(PackWarning.NO_PACK)">
        <span class="text">No pack</span>
        <span class="key">N</span>
    </button>
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.SPLIT_PACK)"
            (click)="onClick(PackWarning.SPLIT_PACK)">
        <span class="text">Split pack</span>
        <span class="key">S</span>
    </button>
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.PACK_IS_HERE)"
            (click)="onClick(PackWarning.PACK_IS_HERE)">
        <span class="text">Pack is here</span>
        <span class="key">H</span>
    </button>
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.PACK_IS_ALL)"
            (click)="onClick(PackWarning.PACK_IS_ALL)">
        <span class="text">Pack is all</span>
        <span class="key">A</span>
    </button>
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.PACK_IS_BACK)"
            (click)="onClick(PackWarning.PACK_IS_BACK)">
        <span class="text">Pack is back</span>
        <span class="key">B</span>
    </button>
    <button type="button" class="button" [disabled]="!enabled" [class.clicked]="isClicked(PackWarning.PACK_IS_FRONT)"
            (click)="onClick(PackWarning.PACK_IS_FRONT)">
        <span class="text">Pack is front</span>
        <span class="key">F</span>
    </button>
</div>

<ng-container *ngFor="let score of scoreTypes">
    <div class="score-bar score-{{ score }}">
        {{ toName(score) }}
    </div>
</ng-container>
