$overlay-font-color: #ffffffcc;

.overlay {
  position: fixed;
}

.title {
  position: fixed;
  width: 400px;
  height: 50px;
  left: calc(50% - 200px);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Proteron', sans-serif;
  color: $overlay-font-color;
  padding: 7px;
  box-sizing: border-box;
  background-color: rgba(26, 12, 35, 0.5);
  border-bottom: 1px solid #000;
  user-select: none;
  box-shadow: 0 0 5px #0009;
}

.fps {
  position: fixed;
  right: 10px;
  bottom: 8px;
  font-size: 12px;
  color: $overlay-font-color;
}

.info-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  height: 100%;
  background-color: rgba(26, 12, 35, 0.5);
  border-right: 1px solid #000;
  box-shadow: 0 0 5px #0009;
  padding: 16px;

  & > h2 {
    font-size: 20px;
    color: $overlay-font-color;
    border-bottom: 1px solid #fff8;
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
  }
}

.info-block {
  display: grid;
  gap: 8px;
  grid-template-columns: 33% 67%;
  align-items: center;

  & > .info-title {
    font-size: 14px;
    color: $overlay-font-color;
    text-align: end;
    padding-right: 4px;
    border-right: 1px solid #fffc;
    height: 100%;
  }

  & > .info-value {
    font-size: 14px;
    color: white;
  }
}