<canvas #canvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (wheel)="onWheel($event)" (contextmenu)="$event.preventDefault()"></canvas>

<div class="overlay">
    <div class="title">Roller Derby Sim</div>
    <div class="fps">{{ (state$ | async)?.frames }}</div>
    <div class="info">{{ (state$ | async)?.toInfo() }}</div>
</div>

<!--<pre style="width:22%; height: 100%; left: 78%; position: absolute">
  {{ (state$ | async) | json }}
</pre>-->
