<canvas #canvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (wheel)="onWheel($event)" (contextmenu)="$event.preventDefault()"></canvas>

<div class="overlay">
    <div class="title">Roller Derby Sim</div>
    <div class="fps">{{ (state$ | async)?.frames }}</div>
    <div class="info-panel">
        <h2>Pack Info</h2>
        <div class="info-block">
            <ng-container *ngFor="let info of (info$ | async)?.packInfo">
                <div class="info-title">{{ info.title }}</div>
                <div class="info-value">
                    <div *ngFor="let value of toValueLines(info.value)">
                        {{ value }}
                    </div>
                </div>
            </ng-container>
        </div>
        <h2 *ngIf="(info$ | async)?.hasPlayerInfo()">Player Info</h2>
        <div class="info-block" *ngIf="(info$ | async)?.hasPlayerInfo()">
            <ng-container *ngFor="let info of (info$ | async)?.playerInfo">
                <div class="info-title">{{ info.title }}</div>
                <div class="info-value">
                    <div *ngFor="let value of toValueLines(info.value)">
                        {{ value }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <app-button-bar (toggleGame)="onToggleGame()" (packWarning)="onPackWarning($event)"
    ></app-button-bar>
</div>
