<canvas #canvas (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (wheel)="onWheel($event)" (contextmenu)="$event.preventDefault()"></canvas>

<div class="overlay">
    <div class="title">Roller Derby Sim</div>
    <div class="fps">{{ (state$ | async)?.frames }}</div>
    <div class="info-panel">
        <h2>Player Info</h2>
        <div class="info-block">
            <ng-container *ngFor="let info of (state$ | async)?.toInfo()">
                <div class="info-title">{{ info.title }}</div>
                <div class="info-value">{{ info.value }}</div>
            </ng-container>
        </div>
    </div>
</div>
